body {
	padding: 0;
	margin: 0;
	background: #030a29;
	font-family: "Share Tech", sans-serif;
	color: #9ef89a;
	font-size: 18px;
	padding-top: 15px;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

code, pre {
	font-family: 'source code pro';
}

table {
	table-layout: fixed;
}

::selection {
	background: #ffa944;
	color: #fff;
}

a {
	color: white;
	transition: .5s;
}

a:hover {
	color: #ffa944;
	text-decoration: none;
}

.navbar-nav {
	margin: 0;
}

.navbar-default .navbar-collapse {
	border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
	outline: none;
}

.navbar-collapse {
	padding: 0;
	box-shadow: none;
}

.navbar-default {
	background: none;
	border: none;
}

@media (min-width: 768px) {
	.nav li {
		margin-right: 10px;
	}
}

@media (max-width: 768px) {
	.nav li {
		margin-top: 10px;
	}
}

.navbar-default .navbar-nav>li>a {
	color: white;
	text-decoration: none;
	padding: 10px;
	border: 1px solid white;
	transition: .5s;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ffa944;
	border-color: #ffa944;
}

.navbar-toggle {
	margin: 0;
	border-radius: 0;
}

.form-control {
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

label.error {
	color: #ff4141;
}

input.error, textarea.error, select.error {
	border-color: #ff4141;
}

.contact-form input.form-control {
	max-width: 300px;
}

.contact-form textarea {
	height: 200px;
}

.btn-default {
	color: #fff;
	background: none;
	border-color: #fff;
	font-size: 16px;
}

.btn-default:hover {
	background: none;
	border-color: #9ef89a;
	color: #9ef89a;
}

.alert {
	border-radius: 0;
}

.alert-success {
	background: none;
	border-color: #9ef89a;
	color: #9ef89a;
}

.red {
	color: red;
}

article .header {
	margin: 20px 0;
}

article .header h2 {
	padding: 0;
	margin: 0;
	font-size: 24px;
}

article h3 {
	font-size: 18px;
	color: #fff;
}

article .content {
	margin-bottom: 50px;
}

article img {
	margin: 10px 0;
}

article p {
	margin: 10px 0;
}

article img {
	max-width: 100%;
}

footer {
	padding: 50px 0;
}

#page-nav {
	position: relative;
}

#page-nav .next {
	position: absolute;
	right: 0;
}

#page-nav .prev {
	position: absolute;
}

.archive ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 5px;
	font-size: 18px;
}

.archive ul li a {
	padding: 5px;
	display: block;
}