---
layout: default
title: Home
---

{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% unless post.redirect %}
{% assign content = post.content %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        {% include article.html %}
    </article>
    <hr>
{% endunless %}
{% endfor %}
</div>
<nav id="page-nav">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="prev"><i class="fa fa-arrow-circle-o-left"></i> Prev</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next"> Next <i class="fa fa-arrow-circle-o-right"></i></a>
    {% endif %}
    <div class="text-center"><a href="/archive"><i class="fa fa-folder-o"></i> Blog Archive</a></div>
</nav>

<hr>