<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <title>{{site.name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/faux.console.js"></script>
</head>

<body>
    <div class="container">
        <div class="pad-top hidden-xs"></div>
        <header class="desktop hidden-xs">
            <nav>
                <ul>
                    <li>
                        <a href="/">
                            <span class="icon icon-home"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="http://www.github.com/rwhitmire" target="_blank">
                            <span class="icon icon-folder-open"></span>
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="/archive">
                            <span class="icon icon-archive"></span>
                            Archive
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <span class="icon icon-envelope-alt"></span>
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <header class="mobile visible-xs">
            <nav>
                <ul>
                    <li>
                        <a href="/">
                            <span class="icon icon-home"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="http://www.github.com/rwhitmire" target="_blank">
                            <span class="icon icon-folder-open"></span>
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="/archive">
                            <span class="icon icon-archive"></span>
                            Archive
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <span class="icon icon-envelope-alt"></span>
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="content">
            {{content}}
        </div>
        <footer>
            
        </footer>
    </div>
</body>
</html>
